.Send-message-form {
    background: var(--send-message-form);
    display: flex;
    box-sizing: border-box;
    height: 60px;
}

.Send-message-form input {
    width: 100%;
    padding: 15px 10px;
    border: none;
    margin: 0;
    background: var(--send-message-form);
    font-weight: 200;
}

.Send-message-form input:focus {
    outline-width: 0;
}

.Send-message-form input::placeholder {
    font-family: 'Gugi', cursive;
    color: black;
}